.warning{
    color:red;
}

.config_check{
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: white;
    font-weight: 600;
    padding: 10px;
}

.config_check_header{
    margin-bottom: 15px;
    margin-top: 10px;
}

.config_check_header p{
    margin-top: 5px;
    margin-bottom: 5px;
}
.hidden{
    visibility: hidden;
}

.service_status{
    height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.service_status svg{
    height: 20px;
    width: 20px;
    float: left;
}

.service_status span{
    display: table-cell;
    vertical-align: middle;
    height: 20px;
    padding-left: 10px;
}

.no_border{
    border:0px;
}

.alterator-listbox caption{
    background-color: white;
    border: solid;
    border-width: thin;
    margin-bottom: 2px;
    font-weight: 600;
}

.right_buttons{
    float: right;
    margin-top: 15px;
}

.form_rules{
    margin-top: 50px;
}

#form_presets {
  display: inline-block;
  margin-top: 50px;
}
#form_presets fieldset legend{
    font-weight: 600;
}

#radio_list_type input{
    margin-left: 40px;
}

#module_footer{
    margin-top: 50px;
    height: 40px;
}

.input_appended{
    width: 100%;
    border: 0px;
}

.crossed-out {
    text-decoration: line-through;
    font-weight: bold;
}

.validator_appended{
    border: 2px green solid;
}

.inline{
    display: inline;
}

#logs_form{
    margin-top: 30px;    
}

#logs_form table{
    margin-top: 20px;
}

#show_logs_button{
    margin-bottom: 30px;
}
#log_search_input{
    margin-left: 5px;
}

#log_textarea{
    width:99%;
    height: 400px;
}

.cell_center{
    text-align: center;
}

.separator{
    display: block;
    float: left;
    width: 100%;
    height: 1px;
}

/* Alterator-like button*/

.hidden {
    display: none;
}

.like_btn{
    font-weight: bold;
    color: #FFFFFF;
    background-color: #455a85;
    border: 1px solid #1b2575;
    margin: 2px;
    cursor: pointer;
    font-size: 9pt;
    padding: 2.5px 10px;
    vertical-align: middle;
    font-family: "Liberation Sans", Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.like_btn:hover{
    background-color: #5b76af;
}

.like_btn_disabled{
    font-weight: bold;
    cursor: default;
    color: #c3c7cb;
    background-color: #E2E6EB;
    border: 1px solid #c0c0c0;
    margin: 2px;
    font-size: 9pt;
    padding: 2.5px 10px;
    vertical-align: middle;
    font-family: "Liberation Sans", Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
}

/*  Logs */

#logs_form table{
    margin-top: 20px;
}

/* #show_logs_button{
    margin-bottom: 30px;
} */
#log_search_input{
    margin-left: 5px;
    display: block;
    float: left;
    margin-top: 2px;
    height: 18px;
}

#log_textarea{
    width:99%;
    height: 400px;
}

.cell_center{
    text-align: center;
}

.log_page_info{
color: gray;
font-size: 8pt;
}

#load_file_button{
    float: left;
}

#file_input{
  display: block;
  float: left;
  padding-top: 2px;
  padding-left: 5px;
}