.warning{
    color:red;
}

.config_check{
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: white;
    font-weight: 600;
    padding: 10px;
}

.config_check_header{
    margin-bottom: 15px;
    margin-top: 10px;
}

.config_check_header p{
    margin-top: 5px;
    margin-bottom: 5px;
}
.hidden{
    visibility: hidden;
}

.service_status{
    height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.service_status svg{
    height: 20px;
    width: 20px;
    float: left;
}

.service_status span{
    display: table-cell;
    vertical-align: middle;
    height: 20px;
    padding-left: 10px;
}

.no_border{
    border:0px;
}

.alterator-listbox caption{
    background-color: white;
    border: solid;
    border-width: thin;
    margin-bottom: 2px;
    font-weight: 600;
}

.right_buttons{
    float: right;
    margin-top: 15px;
}

.form_rules{
    margin-top: 50px;
}

#form_presets {
  display: inline-block;
  margin-top: 50px;
}
#form_presets fieldset legend{
    font-weight: 600;
}

#radio_list_type input{
    margin-left: 40px;
}

#module_footer{
    margin-top: 50px;
    height: 40px;
}

.input_appended{
    width: 100%;
    border: 0px;
}